<br>
<br>
<br>
<div class="container">
    <h3>Clientes </h3>

    <table class="table" >
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">DNI</th>
            <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let cliente of listaDeClientes'>
            <th scope="row">{{cliente.nombre}}</th>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.dni}}</td>
            <td><input type="button" value="modificar" id="{{cliente.idCliente}}" (click)="modificar(cliente.idCliente)" > <input type="button" value="eliminar" (click)="eliminar(cliente.idCliente)" ></td>
        </tr>
        </tbody>
    </table>
</div>
